@charset 'UTF-8';

h2 {
	color:#444;
}

.still-images{
    width:100%;
}

.right{
    float:right;
}

select option:disabled, .option-head {
    font-weight:bold;
}


[v-cloak] {
  display: none;
}

.sorting_asc:after {
	color:red;
	content: "";
	background-image:url("images/sort_both.png")
	 display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

.hiddenRow {
    padding: 0 !important;
}


label{
    display:inline-block;
    vertical-align: middle;
    font-weight: normal !important;
    margin: 0 4px 0 4px !important;
    word-wrap: break-word;
    max-width:80% !important;
}

input {
    display:inline-block;
    vertical-align: middle;
    margin: 0 !important; 
}


.video-item {
margin: 0 10px 12px 0;
padding:0 !important;
min-height:100px !important;
display:block;
/*border:solid 1px red;*/
}

#filter1 {
    margin-bottom:40%;
}

#filter1 select{
    width: 100%;
    margin-bottom:10px;
    border: solid #ccc 1px;
}

.video-item .meta {
		background-color: #fff;
    display: block;
    line-height: 1.3em;
    overflow-wrap: break-word;
    color: #767676;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    	font-size:11px;
}

.video-item .title {
	font-size:13px;
	font-weight:bold;
	margin-top:.3em;
	max-height: 2.6em;
	color: #167ac6;
	line-height: 1.3em;
  overflow-wrap: break-word;
  white-space: normal;
}

.filterbox {
    margin-bottom:20px;
}

.btn, .btn-primary {
    padding:2px !important;
    margin:0;
}


a {
    cursor: pointer;
    text-decoration: none;
}

div.link{
    color:blue;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    display:block;
}


.mega{
    font-size: 100px;
}

.row .coll, thumbnail{
    display:inline;
    border: solid red 1px;
    color: #0070a8;
    max-width: 300px !important;
}

.thumbnail{
    align-content: center;
}

[v-cloak] {
    display:none;
}

/* drop box file upload */
 .dropbox {
    outline: 2px dashed grey; /* the dash box */
    margin:20px;
    width:100%;
    outline-offset: 10px;
    background: lightcyan;
    color: dimgray;
    padding: 6px 10px;
    min-height: 200px;
    position: relative;
    cursor: pointer;
  }

 .dropbox label {
     font-size:2em;
     font-weight:700;
     align-content: center;
     cursor: pointer;
     width:100%;
 }

  .dropbox label p{
      align-content: center;
      text-align: center;
    padding: 50px 0;
    width:100%;
      
  }



  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }



.slide-fade-enter-active {
  position: absolute;
    left: -200px;
    width: 100px;
    height: 0;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
  
}
.slide-fade-leave-active {
  
}
.slide-fade-enter, .slide-fade-leave-to
}

@import("css/jquery.dataTables.min.css");





