@charset 'UTF-8';

h2 {
	color:#444;
}

select option:disabled, .option-head {
	font-weight:bold;
}


#region-main label{
	font-weight:bold;
}



.sorting_asc:after {
	color:red;
	content: "";
	background-image:url("images/sort_both.png")
	 display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

.hiddenRow {
    padding: 0 !important;
}


label{
	display:inline-block; 
}


.video-item {
margin: 0 10px 12px 0;
padding:0 !important;
min-height:200px !important;
display:block;
/*border:solid 1px red;*/
}

.video-item .meta {
		background-color: #fff;
    display: block;
    line-height: 1.3em;
    overflow-wrap: break-word;
    color: #767676;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    	font-size:11px;
}

.video-item .title {
	font-size:13px;
	font-weight:bold;
	margin-top:.3em;
	max-height: 2.6em;
	color: #167ac6;
	line-height: 1.3em;
  overflow-wrap: break-word;
  white-space: normal;
}

a{
cursor: pointer;
    text-decoration: none;
    }


.mega{
    font-size: 100px;
}

.row .coll, thumbnail{
    display:inline;
    border: solid red 1px;
    color: #0070a8;
    max-width: 300px !important;
}

.thumbnail{
    align-content: center;
}

@import("css/jquery.dataTables.min.css");





